
body{
  background-color: rgba(241, 214, 214, 0.774);
}

#board{
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  border: black 1px solid;
  height: 500px;
  width: 500px;
}
#board div{
  border: black 1px solid;
}

.token_container{
  border: black 1px solid;
  height: 33%;
  width: 33%;
}


